In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [9]:
train.sample(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
121542,121543,Male,46,1,28.0,0,1-2 Year,Yes,47705.0,26.0,38,0
63559,63560,Female,52,1,28.0,0,> 2 Years,Yes,35323.0,26.0,37,1
20991,20992,Male,29,1,28.0,0,< 1 Year,Yes,29258.0,160.0,265,0
195936,195937,Male,36,1,39.0,0,1-2 Year,Yes,2630.0,26.0,66,0
131571,131572,Female,22,1,41.0,1,< 1 Year,No,26070.0,152.0,224,0